header{
    position:fixed;
    box-sizing: border-box;
    overflow: visible;

    top:0;
    left:0;
    right:0;
    margin:auto;
    width:95%;
    height: 60px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;

    border: solid white;
    border-width: 0 0 10px 0;

    vertical-align: top;

    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    background-color: deepskyblue;

    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header > *{
    margin:5px;
}

#title{
    position:absolute;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    text-align: center;

}

#title h1{
    position: absolute;
    font-size: 1.75em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

header>h2{
    position:absolute;
    left: 0;
    right: 0;
    font-size: 2em;
    text-align: center;
    margin: 2px auto;
    color: rgba(255,255,255,.3);
}







#topMenuList{
    position:fixed;
    top: 50px;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    background-color: deepskyblue;
    width: 0px;

    -webkit-border-radius:0 0 10px;
    -moz-border-radius:0 0 10px;
    border-radius: 0 0 10px 10px;

    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: white;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    padding: 1em;
    opacity: 0;

    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#topMenuList.showing{
    width: 300px;
    opacity: 1;
}

#topMenuList>li{
    position:relative;
    left: -1em;
    overflow: hidden;
    font-size: 0em;
    padding: 0em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 0px;

    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;

    cursor: pointer;
}




#topMenuList>li.showing{
    left:0;
    font-size: 1.5em;
    padding: .2em;
    width:100%;
}
#topMenuList>li.showing:hover{
    border:solid rgba(255,255,255,.5);
    border-width: 0 5px 0 5px;
}

#topMenuList>li>span{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:1em;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

#loginButton{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top:  10px;
    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;
    padding-right: 25px;

    -webkit-border-bottom-right-radius: 50px;
    -moz-border-bottom-right-radius:50px;
    border-bottom-right-radius: 50px;

    cursor: pointer;

    z-index: 110;
}

#loginButton:hover{
    background-color: rgba(255,255,255, .25);
}

#loginButton>span{
    display:inline-block;
    text-align: center;
    margin-right: 5px;
    vertical-align: top;
    text-size: 1.5em;
}

#loginButton>.svg {
    float: right;
    vertical-align: bottom;
    height: 40px;
    width: 40px;
}



#search{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20px;
    z-index: 110;
}

#search>.svg{
    height: 35px;
    width: 35px;
}