header{
    position:fixed;
    box-sizing: border-box;
    overflow: visible;

    top:0;
    left:0;
    right:0;
    margin:auto;
    width:97%;
    height: 60px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;

    border: solid white;
    border-width: 0 0 10px 0;

    vertical-align: top;

    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;


    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
}

header > *{
    margin:5px;
}

#title{
    position:absolute;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    text-align: center;

}

#title > div{
    position: absolute;
    font-size: 1.75em;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#title h1{
    display: inline-block;
}

header>h2{
    position:absolute;
    left: 0;
    right: 0;
    font-size: 2em;
    text-align: center;
    margin: 2px auto;
    color: rgba(255,255,255,.3);
}

#title > div > img{
    width: 20px;
}






#topMenuList{
    position:fixed;
    top: 50px;
    left:0;
    right:0;
    margin:auto;
    text-align: center;
    background-color: deepskyblue;
    width: 0px;

    -webkit-border-radius:0 0 10px;
    -moz-border-radius:0 0 10px;
    border-radius: 0 0 10px 10px;

    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: white;

    visibility: hidden;

    padding: 1em;
    opacity: 0;

    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#topMenuList.showing{
    width: 300px;
    visibility: visible;
    opacity: 1;
}

#topMenuList>li{
    position:relative;
    left: -1em;
    overflow: hidden;
    font-size: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 0;

    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;

    cursor: pointer;
}




#topMenuList>li.showing{
    left:0;
    font-size: 1.5em;
    padding: 0;
    width:100%;
}
#topMenuList>li.showing:hover{
    border:solid rgba(255,255,255,.5);
    border-width: 0 5px 0 5px;
}

#topMenuList>li>a{
    display: inline-block;
    width: 100%;

    margin: .2em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color:white;
    text-decoration: none;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
}

#user-button {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 10px 25px 0 10px;

    right: 0;
    bottom: 0;
    margin: 0;
    height: 100%;

    -webkit-border-bottom-right-radius: 50px;
    -moz-border-bottom-right-radius:50px;
    border-bottom-right-radius: 50px;

    cursor: pointer;

    z-index: 110;
}


#user-button:hover{
    background-color: rgba(255,255,255, .25);
}

#user-button >span{
    display:inline-block;
    text-align: center;
    margin-right: 5px;
    vertical-align: top;
}

@media screen and (max-width: 480px){
    #user-button >span{
        display:none;
    }
}


#user-button >.svg {
    float: right;
    vertical-align: bottom;
    height: 40px;
    width: 40px;
}


#searchButton {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    padding-left: 20px;
    margin: 0;
    border-bottom-left-radius: 50px;
    z-index: 110;
}

#searchButton >.svg{
    height: 35px;
    width: 35px;
}

