#login{
    position: fixed;
    box-sizing: border-box;
    top: 60px;
    right: 0;
    max-width:250px;
    width: 100%;

    margin:10px;
    padding: 15px;

    border: solid 5px white;
    border-radius: 10px;
    background-color: deepskyblue ;
    color:white;

    text-align: center;
    box-shadow: 0 0 10px gray;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#login h3{
    text-align: center;
}

#login input{
    width:100%;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 2px;
    text-decoration: none;
    padding:5px;
    border: none;
    font-family: 'Varela Round', sans-serif;
    color: #222222;
}

#login figure{
    position:absolute;
    width: 5px;
    height: 5px;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    border-left: transparent solid 10px;
    border-right: transparent solid 10px;
    border-bottom: white solid 10px;
}

#login>a, #login input[type="submit"] {
    display: inline-block;
    text-decoration: none;
    border: white 1px solid;
    border-radius: 5px;

    background-color: transparent;
    color:white;

    padding: 5px;
    margin: 5px;
    font-size: 1.5em;

    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}

#login>a:hover, #login input[type="submit"]:hover{
    background-color: rgba(255,255,255,.5);
}

.hide{
    visibility: hidden ;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}
extraarea{
    position:absolute;
    height: 30px;
    top:-30px;
    width: 100%;
}